@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* overflow: hidden; */
    margin: 0;
}

.container {
    display: flex;
    width: 1200px;
    height: 500px;
    align-items: center;
    justify-content: space-around;
    /* gap: 10px; */
    border: 1px solid black;
    position: relative;
}

.candlestick {
}

.stick {
    height: 100px;
    width: 2px;
    background-color: greenyellow;
}

.box {
    height: 50px;
    width: 12px;
    background-color: greenyellow;
    transform: translate(-5px, -75px);
}

.x-grid {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 1200px;
    height: 500px;
    align-items: center;
    justify-content: space-around;
    transform: translateX(-6px);
    /* border: 3px solid red; */
    z-index: -1;
}

.candlestick-grid {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 1200px;
    height: 500px;
    align-items: center;
    justify-content: space-around;
    /* border: 3px solid red; */
    z-index: -1;
}

.x-line {
    height: 500px;
    width: 1px;
    background-color: #ddd;
}

.y-line {
    height: 1px;
    width: 1200px;
}